<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="title" content="NIT Alumni Calicut" />
    <meta name="description" content="NIT Alumni Calicut" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/guestcss")
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-46725260-1', 'nitcalumni.com');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div id="headerl">
        <div class="main-align" id="headCenter">
            <div style="text-align: left; display: inline-block; width: 100%;">
                <a href="/" id="companyNamel">NIT Calicut<span></span>
                    <div style="color: #777; font-size: 14px; font-weight: normal; word-spacing: 2px; letter-spacing: 1.8px; text-transform: capitalize;">
                        alumni association
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div style="text-align: center; padding-top: 60px;">
        <div id="guestHeadCvr">
            <div class="main-align" id="head-title">
                @{var hmeTitle = ViewData[Constants.HomeTitleKey];}
                <div id="hme-title">
                    @if (hmeTitle != null)
                    {
                        <img src="@ViewData[Constants.HomeImgKey]" alt="" />
                        <div class="d-ib">@hmeTitle</div>
                    }
                    else
                    {
                        <img src="~/Content/images/net.png" alt="" />
                        <div class="d-ib">
                            Connect with your Alumni
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="mainBk" style="padding: 2px 0;">
            <div class="main-align" id="mainContent" style="text-align: left; border: 0; min-height: 600px;">
                @RenderBody()
            </div>
        </div>
        <div class="footer-bk">
            <div class="main-align footer">
                &copy; 2013-2014 Copyright NIT Calicut Alumni Association
            @{Html.RenderPartial("FeedButton");}
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryAndAxb")
    @RenderSection("Scripts")
</body>
</html>
