@model Axb.ActiveAlumni.Nit.ViewModels.ChangePasswordVm
<div class="p20 span">
    @{Html.RenderPartial(Routes.CloseNote);}
    <h4>Change Password</h4>
    <div style="padding: 5px 0 7px 28px; color: #777;">
        @Html.Partial(Routes.PswdRulesView)
    </div>
    @using (Html.BeginForm("ChangePassword", "Settings", FormMethod.Post, new { @class = "replace-frm" }))
    {
        @Html.AntiForgeryToken()
        @Html.Bootstrap().ControlGroup().PasswordFor(m => m.OldPassword).ShowValidationMessage(false)
        @Html.Bootstrap().ControlGroup().PasswordFor(m => m.NewPassword).ShowValidationMessage(false)
        @Html.Bootstrap().ControlGroup().PasswordFor(m => m.ConfirmPassword).ShowValidationMessage(false)
        @Html.Bootstrap().SubmitButton().Text("Change Password").HtmlAttributes(new { @class = "btn-primary" })
        <div>
            <br />
            @Html.ValidationSummary()
        </div>
    }
</div>

