@model Axb.ActiveAlumni.Nit.ViewModels.SendToEmailVm
@{
    ViewBag.Title = "Forgot Password | NITCAA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p20" style="width: 600px;">
    @Html.Partial(Routes.TempDataMsgView)
    @if (Model != null)
    {
        using (Html.BeginForm())
        {
        <div>
            <h5>Forgot Password? </h5>Enter your email below and we shall send instructions to reset your password.
        </div>
        @Html.AntiForgeryToken()
        @Html.Bootstrap().ControlGroup().TextBoxFor(m => m.Email).ShowValidationMessage(false);
        @Html.Bootstrap().SubmitButton().Text("Send Instructions").HtmlAttributes(new { @class = "btn-primary" })
        <br />
        <br />
        @Html.ValidationSummary()
        }
    }
</div>
@section Scripts{}
