@model Axb.ActiveAlumni.Nit.ViewModels.ChangePasswordVm

@{
    ViewBag.Title = "Password Reset | NITCAA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p20" style="width: 500px;">
    <h4>Change Password</h4>
    <div style="padding: 5px 0 7px 28px; color: #777;">
        @Html.Partial(Routes.PswdRulesView)
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("OldPassword", "oldpwsd")
        @Html.Bootstrap().ControlGroup().PasswordFor(m => m.NewPassword).ShowValidationMessage(false)
        @Html.Bootstrap().ControlGroup().PasswordFor(m => m.ConfirmPassword).ShowValidationMessage(false)
        @Html.Bootstrap().SubmitButton().Text("Update Password").HtmlAttributes(new { @class = "btn-primary" })
        <br />
        <br />
        @Html.ValidationSummary()
    }
</div>
@section Scripts{}


