@model Axb.ActiveAlumni.Nit.Entities.Relative

@using Axb.ActiveAlumni.Nit.ViewModels;

<div class="prof-frm">
    @using (Html.BeginForm("Edit", "Relative", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.RelativeId)
        @Html.Bootstrap().ControlGroup().TextBoxFor(m => m.Name).ShowValidationMessage(false)
        <div class="control-group">
            <label class="control-label" for="Name">Relation<span class="required">*</span></label>
            <div class="controls">
                @Html.DropDownList("RelationShip")
            </div>
        </div>
        @Html.Bootstrap().ControlGroup().TextBoxFor(m => m.Location).ShowValidationMessage(false)
        @Html.Bootstrap().ControlGroup().TextBoxFor(m => m.Education).ShowValidationMessage(false)
        @Html.Bootstrap().ControlGroup().TextBoxFor(m => m.Work).ShowValidationMessage(false)
        <div class="pop-cnt-btns">
            <button type="button" class="edit-close btn btn-default">Cancel</button>
            <button type="submit" class="btn-primary">Update</button>
                <img src="~/Content/images/busy.gif" class="frm-busy" />
        </div>
            
        <p>
            @Html.ValidationSummary()
        </p>
            
        <div class="server-vald-msg validation-summary-errors" data-valmsg-summary="true">
        </div>
    }

    @if (Model.EntityKey != 0)
    {
        using (Html.BeginForm("Remove", "Relative", FormMethod.Post, new { @class = "removefrm" }))
        {
            @Html.Hidden("id", Model.EntityKey)
            @Html.AntiForgeryToken()
            <a>Remove this from my profile</a>
        }
    }
</div>
