@model Axb.ActiveAlumni.Nit.Entities.AlumniSpeak
<style>
    pre
    {
        color: rgb(34,34,34);
    }
</style>
<div style="display: inline-block; width: 100%;">
    <div class="span">
        <img src="@Routes.ProfilePic(Model.AlumniId)" style="width:60px" />
    </div>
    <div class="d-ib va-t" style="margin: 0  0 0 2px;">
        <div class="bld fs-l">@Model.AlumniName</div>
        <div>@Model.Course</div>
        <div>@Model.Batch Batch</div>
    </div>
    <div class="d-ib ft-r">
        @if ((bool)ViewData[Constants.IsAuthKey] && (bool)ViewData[Constants.IsAdminKey])
        { 
            <a class="new-obj btn" data-method="get" data-title="Edit Alumni Speak" data-url='/Admin/AlumniSpeak/Edit/@Model.AlumniToKnowId'><i class="icon-edit"></i>Edit</a>
        }
    </div>
</div>
<div class="clr-b">
    @if(Model.About != null)
    {
    <pre class="read">@Html.Raw(Model.About.Replace(Environment.NewLine, "<br/>"))</pre>
    }
    <hr />
</div>
<script src="~/Scripts/_common.js"></script>

