@model Axb.ActiveAlumni.Nit.Entities.Discussion

@using (Html.BeginForm("CreateOrUpdate", "Discussion", FormMethod.Post, new { @class = "save-clse-frm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.DiscussionId)
    <div class="dicss-ctnr" style="width: 700px;">
        <h6>Include users</h6>
        <div class="user-sele-ctnr" style="max-height: 77px; min-height: 51px;">
            @Html.Partial("UserSelector", Model.Users)
        </div>
        <h6>Include groups</h6>
        @ProfileHelper.CkBoxes(Model.VisibilityOptions, Model.Visibilities, "Visibilities")
        <hr />
        @Html.Bootstrap().TextBoxFor(x => x.Title).HtmlAttributes(new { placeholder = "Discussion Title" })
        @Html.Bootstrap().TextAreaFor(x => x.Content).HtmlAttributes(new { placeholder = "Discussion Description" })
        @Html.TextBoxFor(m => m.TagCsv, new { placeholder = "Tags separated by comma", @class = "m0" })
        <div style="margin: 10px 0 0 20px">
            @Html.Bootstrap().ControlGroup().CheckBoxFor(m => m.IsDeleted)
        </div>
        <div>
            <a class="btn btn-cancel">Cancel</a>
            <button type="submit" class="btn-primary">@(Model.IsNew ? "Create" : "Update") Discussion</button>
            <img src="~/Content/images/busy.gif" class="frm-busy" />
        </div>
        <p>
            @Html.ValidationSummary()
        </p>

        <div class="server-vald-msg validation-summary-errors" data-valmsg-summary="true">
        </div>
    </div>
}
<script src="~/Scripts/_save-clse-frm.js"></script>
