@model Axb.ActiveAlumni.Nit.Entities.Chapter


@using (Html.BeginForm("Edit", "Chapter", FormMethod.Post, new { @class = "save-clse-frm", data_refresh = "true" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ChapterId)
    @Html.Bootstrap().ControlGroup().TextBoxFor(m => m.Name)
    @Html.Bootstrap().ControlGroup().TextBoxFor(m => m.Alias)
    @Html.Bootstrap().ControlGroup().TextBoxFor(m => m.FacebookUrl)
    @Html.Bootstrap().ControlGroup().TextBoxFor(m => m.WebsiteUrl)

    <hr />
    <div class="sav-can">
        <a class="btn btn-cancel">Cancel</a>
        @if (Model.IsNew)
        {
            <button class="submit btn-primary">Create Chapter</button>
        }
        else
        {
            <button class="submit btn-primary">Update Chapter</button>
        }
        <img src="~/Content/images/busy.gif" class="frm-busy" />

        <p>
            @Html.ValidationSummary()
        </p>

        <div class="server-vald-msg validation-summary-errors" data-valmsg-summary="true">
        </div>
    </div>
}
<script src="~/Scripts/_save-clse-frm.js"></script>


